{#   Do not change anything if you have an automatic Code beautifier enabled. Javascript inside the Script tag in a Jinja Template can be interpreted wrongly and break the Code as the correct spacing ("{{" instead of "{ {") is important for the Jinja-Value Tags #}

{% extends "base.html" %}

{% block info %}
See how well you're doing and what Badges you've earned!
{% endblock info %}

{% block main %}


{% set b_data = badge_data %}
{% set labels = labels %}
{% set values = values %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1>Your Progress</h1>
			<div class=" justify-content-center>">
            <canvas id="lineChart" width="900" height="400"></canvas>

            <script>
                var ctx = document.getElementById("lineChart").getContext("2d");
                var lineChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: {{ labels| tojson }},
                datasets: [

                    {% for v in values.keys() %}
                {% set title = v %}
                {% set da = values[v][0] %}
				{% set curr_color = values[v][1] %}
                {
                    label: {{title | safe}},
                    data: {{da | safe}},
					borderColor: {{curr_color | safe}},
                    fill: false,
                    lineTension: 0.1
                }, {% endfor %}            
					]
                },
                options: {
                    responsive: false,
					scales: {yAxes: [{scaleLabel: {display: true,labelString: 'Percentage of correct Answers for a Quiz'}}]
					}      
                }
                });
            </script>

            </div>
        </div>
    </div>
    <div class="row  line_up">
        <div class="col-xs-12">
            <h1>Your Badges</h1>
        </div>
        <div class=" justify-content-center>">
            <div class="table-responsive container-fluid">
                <table class="table-striped mx-auto w-auto" , style="width:100%">
                    <thead>
                        <tr>
                            <th>Badge Name</th>
                            <th>Your Status</th>
                            <th>Obtained?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for badge in b_data%}
                        <TR>
                            <TD class="c1">{{badge[0]["name"]}}</TD>
                            <TD class="c2">{{badge[1]}} /{{badge[0]["target"]}}</TD>
                            <TD class="c4">{{badge[2]}}</TD>
                        </TR>
                        {% endfor %}
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock main %}