{% extends "base.html" %}

{% block info %}
    What do you want to learn today?
{% endblock info %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="container justify-content-center">
                <form action={{ url_for("quiz_setup") }} method="POST">
                    <div class="row">
                        <div class="col-xs-4 setting_box">
                            <h3>Choose a Topic:</h3>
                            {% for topic in topics %}
                                <input type="radio" name="topic" value="{{ topic }}" required>
                                <label for="topic">{{ topic }}</label><br>
                            {% endfor %}
                        </div>
                        <div class="col-xs-4 setting_box text-center">
                            <h3>Set the Number of Questions:</h3>
                            <input type="number" id="num_questions" name="num_questions" min="1" max="100" step="1"
                                   value="10" required>
                        </div>
                        <div class="col-xs-3 setting_box">
                            <h3>Choose a difficulty:</h3>
                            <input type="radio" id="easy" name="difficulty" value="0" required>
                            <label for="easy">Easy</label><br>

                            <input type="radio" id="medium" name="difficulty" value="1">
                            <label for="medium">Medium</label><br>

                            <input type="radio" id="hard" name="difficulty" value="2">
                            <label for="hard">Hard</label><br>

                        </div>
                    </div>
                    <br/> <br/>
                    <div class="row">
                        <div class="container col-xs-12  btn-submit text-center">
                            <h3>Submit and Start a Quiz with this Settings:</h3>
                            <input id="submit" type="submit" class="btn btn-primary btn-block" value="Confirm">
                        </div>
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <h3 style="text-align: center; color: Red">{{ message }}</h3>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </form>
            </div>
            <hr/>
        </div>
    </div>
{% endblock main %}