{% extends "base.html" %}

{% block info %}
    What do you want to learn today?
{% endblock info %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="container justify-content-center">
                <form action={{ url_for("quiz_setup") }} method="POST">
                    <div class="row">
                        <div class="col-xs-4 setting_box">
                            <h3>Choose a Quiz:</h3>
                            <select name="topic" id="topic">
                            {% for topic in topics %}
                                 <option value="{{ topic }}">{{ topic }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br/> <br/>
                    <div>
                        <div class="container col-xs-2  btn-submit text-center">
                            <input id="submit" type="submit" class="btn btn-primary btn-block" value="Confirm">
                        </div>
                    </div>
                </form>
            </div>
            <hr/>
        </div>
    </div>
{% endblock main %}