{% extends "base.html" %}

{% block info %}
See one Topic:
{% endblock %}


{% block main %}
{%set curr_topic = topic%}
{%set questions = questions%}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <h1> {{curr_topic}}</h1>
        </div>

        <div class=" justify-content-center>">
            <div class="table-responsive container-fluid">
                <table class="table-striped mx-auto w-auto" , style="width:100%">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Answer</th>
                            <th>Difficulty</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for q in questions %}
                        {%set id = q["qid"]%}
                        <tr>
                            <td>{{q['question']}}</td>
                            <td>
                                {%if q['answers']|length == 1%}
                                {{q['answers'][0]}}
                                {%else%}
                                {{q['answers'][q['correct_index']]}}
                                {%endif%}

                            </td>
                            <td>{{q["difficulty"]}}</td>
                            <td> <button type="button" class="btn btn-info btn-lg" data-toggle="modal"
                                    data-target="#{{ id }}">Edit Question</button>
                            </td>
                        </tr>
                        <!-- Modal -->
                        <div id="{{ id }}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Edit Questionr</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/show_one_topic" method="POST">
                                            <input type="hidden" id="curr_quest" name="curr_quest" value="{{ q }}">
                                            <input type="hidden" id="topicId" name="topicId" value="{{ curr_topic }}">

                                            <label for="question">Question</label><br>
                                            <input class="form-control" type="text" id="question" name="question"
                                                value="{{q['question']}}"><br>

                                            <label for="correct_answer"> Correct Answer</label><br>
                                            {%if q['answers']|length == 1%}
                                            <input class="form-control" type="text" id="correct_answer"
                                                name="correct_answer" value="{{q['answers'][0]}}">
                                            {%else%}
                                            <input class="form-control" type="text" id="correct_answer"
                                                name="correct_answer" value="{{q['answers'][q['correct_index']]}}">
                                            {%endif%}

                                            <input type="radio" id="easy" name="difficulty" value="0">
                                            <label for="easy">Easy</label><br>
                                            <input type="radio" id="medium" name="difficulty" value="1" checked>
                                            <label for="medium">Medium</label><br>
                                            <input type="radio" id="hard" name="difficulty" value="2">
                                            <label for="hard">Hard</label>
                                    </div>
                                    <div class="modal-footer">
                                        <input type="submit" class="btn btn btn-danger"
                                            value="Question will be immediatly changed to this values!">
                                    </div>
                                    </form>
                                </div>

                            </div>
                        </div>


                        {%endfor%}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}