{% extends "base.html" %}

{% block info %}
    Upload a new Topic for your Quizzes!
{% endblock info %}


{% block main %}
    <form class="form-horizontal" action="/uploaded" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label class="control-label col-sm-2" for="topic">Topic Title</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="topic" name="topic" placeholder="Enter topic">
            </div>
        </div>

        <div class="form-group">
            <label for="file" class="control-label col-sm-2">Choose file: </label>
            <input type="file" name="file" id="file">
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-default" value="Submit">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <h4>How to use it :</h4>
                <p> Please only upload Excel or CSV.
            </div>
        </div>
    </form>


{% endblock main %}