{% extends "base.html" %}

{% block info %}
Upload a new Quiz!
{% endblock info %}

{%set success = notice%}
{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="center">
            {% if success == 1 %}
            <h4>Upload was successful! You can view your new Quiz <a href={{ url_for('show_all_topics') }}>here.</a>
            </h4>
            {% elif success == 2 %}
            <h4>Upload was not successful! Your are only allowed to upload file types xlsx. <a href={{
                    url_for('show_upload_page') }}> Try again:</a>
            </h4>
            {% else %}
            <h4>Upload was not successful</a>
            </h4>
            {% endif %}
        </div>
    </div>
</div>

{% endblock main %}